<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="ExifTool" value="C:\Program Files\util\ExifToolGUI\exiftool.exe" />
  </appSettings>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <!-- If you configure this prorgam in a new envrionment. Verify logging folder -->
      <!-- and run the program as a scheduled task remember to make the user running it has permissions to write to the logs -->
      <file value="Logs\log.txt"/>

      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%-5p %d %10rms - %m%n"/>-->
        <conversionPattern value="%-5p %d - %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>

      <!-- Info you want logging to file include the following line, otherwise comment it out -->
      <appender-ref ref="RollingLogFileAppender"/>

      <!-- Info you want logging to console include the following line, otherwise comment it out -->
      <!-- If you schedule it as task scheduled task, you can comment it out-->
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
